.contacts{
    background-image: url(../images/Shop-bg.jpg);
    padding: 100px 20px 130px;
    text-align: center;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
}
.cu{
    font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
    color: white;
    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}
.hc{
    font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
color: rgb(255, 255, 255);
    font-weight: 550;
    text-transform: none;
}
.main-contact{
    display: flex;
    justify-content: center;
    margin-top: 120px;
    gap: 70px;
}
.contact-main{
    margin-left: -90px;
    /* padding-left: -100px; */
    /* margin-top: 150px; */
    /* text-align: left; */
}
.contact-part{
    margin-left: 120px;
    background-color: #f7f7f7;
    max-width: 500px;
    height: 620px;
    text-align: left;
    padding: 30px 70px ;
    border-radius: 25px;
}
.us{
    font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
    color: #ee626b;
    font-size: 20px;
    margin-bottom: 20px;
}
.say{
    font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
    font-size: 35px;
    margin-bottom: 20px;
    color: black;
}
.template-pr{
    font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #4a4a4a;
    margin-left: 5px;
    margin-bottom: 50px;
}
.addres{
    font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 15px;
    color: #4a4a4a;
}
.addr{
    font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
    font-size: 15px;
    margin-bottom: 25px;
    font-weight: 600;
}
.pho{
    font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
    color: #4a4a4a;
    margin-bottom: 10px;
}
.numb{
    font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
}
.emi{
    font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
    margin-top: 20px;
    font-weight: 700;
    color: #4a4a4a;
    font-size: 15px;
}
.com{
    font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-top: 5px;
}
.map{
    margin-top: -20px;
    /* margin-bottom: 120px; */
    border-radius: 25px;
    /* width: 500px; */
    width: 100%;
    max-width: 500px;
    height: 320px;
    border: none;
}
.first-inputs{
    margin-top: 20px;
    /* margin-left: 30px; */
    /* margin-bottom: 0px; */
    gap: 30px;
    display: flex;
    /* margin-left: 50px; */
}
.sec-input{
    display: flex;
    gap: 30px;
    margin-top: 20px;
}
.con-input{
    font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
  width: 220px;
  padding: 15px 16px;
  border: 1px solid #ddd;
  border-radius: 50px;
  outline: none;
  font-size: 14px;
  color: #333;
  background: #fff;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease;
  background-color: #eeeaea;
}
.con-input::placeholder {
  color: #aaa;
  font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
}
.con-btn{
    font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
    height: 45px;
    width: 170px;
    text-align: center;
    font-size: 12px;
    align-self: flex-start;
    background-color: #ee626b;
    color: white;
    font-weight: 500;
    line-height: 1;
    border: none;
    border-radius: 25px;
}
.con-btns{
    margin-top: 12px;
}
.message-form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 1rem;
    flex-wrap: wrap;
    /* text-align: center; */
    /* border-radius: 25px; */
    /* flex-wrap:wrap-reverse; */
    /* width: 100%; */
}
.ym{
    padding: 20px 15px;
    width: 100%;
    max-width: 480px;
    height: 130px;
    border-radius: 25px;
}

/* mobile */

@media (max-width: 768px) {

  .contacts {
    padding: 70px 15px 90px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }

  .cu {
    font-size: 28px;
  }

  .main-contact {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 60px;
  }

  .contact-main {
    margin-left: 0;
    text-align: center;
  }

  .contact-part {
    margin-left: 0;
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 25px 20px;
  }

  .say {
    font-size: 26px;
  }

  .template-pr {
    margin-bottom: 30px;
  }

  .map {
    height: 250px;
    max-width: 100%;
  }

  .first-inputs,
  .sec-input {
    flex-direction: column;
    gap: 15px;
  }

  .con-input {
    width: 100%;
  }

  .con-btns {
    text-align: center;
  }

  .con-btn {
    width: 100%;
    max-width: 200px;
  }

  .ym {
    max-width: 100%;
    height: 120px;
  }
}

/* tablet */

@media (max-width: 1024px) {

  .main-contact {
    gap: 40px;
    margin-top: 80px;
  }

  .contact-main {
    margin-left: 0;
  }

  .contact-part {
    margin-left: 0;
    max-width: 450px;
    height: auto;
    padding: 30px 40px;
  }

  .map {
    max-width: 450px;
  }

  .first-inputs,
  .sec-input {
    gap: 20px;
  }

  .con-input {
    width: 100%;
  }
}

