.homePagerapper {
  /* background-color: #384cd2; */
  position: relative;
}
.header {
  display: flex;
  justify-content: space-between;
  background-image: url(../images/banner-bg.jpg);
  padding-bottom: 180px;
  border-radius: 0px 0px 150px 150px;
}
.left {
  & .q1{
    text-transform: uppercase;
    color: white;
    margin: 120px 0px;
    font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
    font-weight: 520;
    font-size: 20px;
    padding: 0px 120px;
    letter-spacing: 1.5px;
    /* line-height: 1.2; */
  }
}
.p1{
  /* font-family: "Poppins", "Helvetica Neue", Arial, sans-serif; */
  padding: 0px 120px;
  color: #ffffff; /* White text */
  font-size: 48px; /* Large font size */
  font-weight: 800; /* Extra bold */
  text-transform: uppercase; /* All caps */
  margin: 0; /* Remove spacing around */
  line-height: 1.2;
  margin: -90px 0px;
}
.three_line{
  padding: 0px 120px;
  margin: 130px 0px;
  font-size: 15px;
  color: white;
  line-height: 2;
  font-weight: 500;
  font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
}
.home-btn {
  margin-top: -60px;
  padding: 0px 120px;
  /* max-width: 400px; */
  /* position: absolute; */
}
.input-home{
  max-width: 450px;
  width: 100%;
  height: 50px;
  outline: none;
  border-radius: 25px;
  background-color: #fff;
  border: none;
  padding: 0px 25px;
  font-size: 14px;
  color: #7a7a7a;
  position: absolute;
}
.btn {
  font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
  position: relative;
  left: 300px;
  /* width: 30%; */
  height: 50px;
  outline: none;
  border-radius: 25px;
  background-color: #ee626b;
  border: none;
  padding: 0px 30px;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
}
.hero-image {
  position: relative;
  margin-top: 100px;
  margin-right: 130px;
}

.hero-image img {
  width: 400px;
  height: auto;
  border-radius: 25px;
  object-fit: cover;
}
.para {
  position: absolute;
  top: 20px;
  right: 17px;
  /* bottom: -10px; */
  background-color: #007bff;
  border-radius: 18px;
  padding: 8px;
  height: 40px;
  width: 60px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 800;
  font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
}
.dis {
  position: absolute;
  bottom: -20px;
  left: -40px;
  background: #ee626b;
  padding: 32px 0px;
  width: 100px;
  height: 100px;
  text-align: center;
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
  border-radius: 50%;
}
.featureCard {
  position: absolute;
  bottom: -100px;
  display: flex;
  justify-content: center;
  gap: 40px;
  width: 100%;
  align-items: center;
  padding: 0px 50px;
}
.cards {
  background-color: white;
  border-radius: 16px;
  width: 240px;
  text-align: center;
  padding: 30px 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.iconss {
  background-color: #007bff;
  color: white;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px;
  font-size: 36px;
}
.iconss:hover {
  background-color: #ee626b;
}
.msg {
  font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: black;
  font-weight: 700;
  letter-spacing: 1;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    text-align: center;
    padding-bottom: 120px;
    border-radius: 0 0 60px 60px;
  }

  .left .q1 {
    padding: 0 20px;
    margin: 60px 0 20px;
    font-size: 16px;
  }

  .p1 {
    padding: 0 20px;
    font-size: 28px;
    margin: 10px 0;
  }

  .three_line {
    padding: 0 20px;
    margin: 20px 0 40px;
    font-size: 14px;
    line-height: 1.7;
  }

  .home-btn {
    padding: 0 20px;
    margin-top: 10px;
  }

  .input-home,
  .btn {
    position: static;
    width: 100%;
    max-width: 100%;
    margin-top: 10px;
  }

  .hero-image {
    margin: 30px auto 0;
    text-align: center;
  }

  .hero-image img {
    width: 90%;
    max-width: 320px;
  }

  .para {
    font-size: 16px;
    width: 50px;
    height: 35px;
  }

  .dis {
    left: 10px;
    bottom: -10px;
    width: 80px;
    height: 80px;
    font-size: 18px;
    padding: 20px 0;
  }

  .featureCard {
    position: static;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
  }

  .cards {
    width: 90%;
    max-width: 320px;
  }
}
@media (max-width: 1024px) {

  .left .q1,
  .p1,
  .three_line,
  .home-btn {
    padding: 0 40px;
  }

  .p1 {
    font-size: 36px;
  }

  .hero-image {
    margin-right: 40px;
  }

  .hero-image img {
    width: 320px;
  }

  .featureCard {
    gap: 25px;
    padding: 0 20px;
  }

  .cards {
    width: 220px;
  }
}

