.product{
    background-image: url(../images/Shop-bg.jpg);
    padding: 105px 20px 130px;
    text-align: center;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    font-family: "Poppins", sans-serif;
}
.pd{
    font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}
.product-home{
    font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 550;
    text-transform: none;
}
.product-cards{
    /* display: flex; */
    margin-top: 120px;
    display: flex;
    /* justify-content: center; */
    margin-bottom: 60px;
    /* justify-content: center; */
    /* justify-content: space-around; */
    /* text-align: center; */
    /* padding-right: 120px; */
}
.pr-mainimg{
    /* padding-right: 120px; */
    /* width: 450px; */
    max-width: 450px;
    height: 450px;
    border-radius: 20px;
    /* display: flex; */
     /* margin-left: 50px; */
  /* margin-right: 20px; */
    margin-left: 120px;
    /* margin-left: -10px; */
}
.pr-sec{
    margin-left: 80px;
    /* margin-bottom: 20px; */
}
.crfp{
    margin-top: 15px;
    /* gap: 10px; */
    /* margin-right: 15px; */
    /* margin-right: -15px; */
}
.cfp{
    font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
    margin-right: 5px;
    color: #c8c8c8;
    text-decoration: line-through;
    font-size: 17px;
    font-weight: 700;
}
.rfp{
    font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
    color:  #0071f8;
    font-size: 25px;
    font-weight: 700;
}
.p-pra{
    font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
    margin-top: 20px;
    font-size: 16px;
    color: #3e3c3c;
    font-weight: 600;
    line-height: 1.5;
}
.btn-p{
    margin-top: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    /* justify-content: center; */
    /* background-color: red; */
}
.input-p{
    background-color: #f8f9fa;
    width: 85px;
     height: 50px;
    border-radius: 50px;
    /* color: black; */
    border: rgb(21, 20, 20);
    text-align: center;
    border: 1px solid #ddd;
    /* line-height: 0.5px; */
    outline: none;
    font-size: 15px;
}
.btns-p{
    background-color: #dc3545;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
    transition: background-color 0.2s ease;
}
.btns-p:hover{
    background-color:#0071f8;
}
.fps{
    font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
    /* text-align: center; */
    /* letter-spacing: 2; */
    /* margin-left: 5px; */
}
.gamer-id{
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 45px;
    padding: 0px 10px;
    /* padding-right: 20px; */
    /* text-align: right; */
    /* justify-content: center; */
}
.gamer-ids{
    font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
    color: #c8c8c8;
    font-size: 15px;
    font-weight: 700;
}
.cmi{
    color: #0071f8;
    font-weight: 700;
    font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
}
.genre{
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 62px;
    padding: 0px 10px;
}
.multi-tag{
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 34px;
    padding: 0px 10px;
}
.pro-part{
    /* margin-left: 170px; */
    /* margin-top: 60px; */
    margin-left: auto;
  margin-right: auto;
    /* padding-right: 50px; */
    background-color: #c8c8c8;
    text-align: left;
    /* display: flex; */
    /* justify-content: center; */
    /* margin-right: 120px; */
    /* gap: 10px; */
    /* max-width: 350px; */
    /* padding: 10px 50px; */
    /* padding: 80px 20px 100px; */
    /* padding: 120px 20px; */
    height: 350px;
    max-width: 1000px;
    border-radius: 25px;
}
.part-pro{
    /* margin-left: 25px; */
    margin-top: 40px;
    padding: 30px 50px;
    display: flex;
    justify-content: center;
    gap: 8px;
}
.desp{
    font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
    /* margin-top: 25px; */
    font-size: 20px;
    color: #0071f8;
    font-weight: 700;
}
.re{
    font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
    margin-top: 3px;
    font-size: 18px;
}
.book{
    margin-left: 45px;
    /* letter-spacing:1.5; */
    line-height: 1.5;
    margin-top: 10px;
    font-size: 15px;
    color: #3e3c3c;
    font-weight: 600;
    font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
}
.book2{
    font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
    font-weight: 600;
    margin-left: 45px;
    /* letter-spacing:1.5; */
    line-height: 1.5;
    margin-top: 20px;
    font-size: 15px;
    color: #3e3c3c;
}
.action-games{
    margin-top: 120px;
}
.ac{
    font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
    color: #dc3545;
    padding: 0px 80px;
    font-size: 20px;
}
.action-part{
    /* margin-top: 0px; */
    display: flex;
    justify-content: space-between;
    margin: 10px 80px;
}
.action-rg{
    color: black;
    font-size: 35px;
}
.view-all{
    font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
     background-color: #dc3545;
    /* padding: 25px 0px;    */
    width: 120px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    color: white;
    font-size: 15px;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
}
.act-cards{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 45px;
    /* margin-bottom: 0px; */
    margin-bottom: 140px;
}
.prod-card{
    text-align: center;
    background-color: #0071f8;
    width: 190px;
    height: 245px;
    border-radius: 25px;
}
.prod-name{
    font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
        color: white;
        font-size: 18px;
}
.prod-img{
    border-radius: 25px;
    width: 190px;
}
@media (max-width: 768px) {

  .product {
    padding: 70px 15px 90px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }

  .pd {
    font-size: 26px;
  }

  .product-cards {
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }

  .pr-mainimg {
    width: 100%;
    max-width: 320px;
    height: auto;
    margin-left: 0;
  }

  .pr-sec {
    margin-left: 0;
    margin-top: 30px;
    text-align: center;
  }

  .rfp {
    font-size: 22px;
  }

  .btn-p {
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }

  .input-p {
    width: 100px;
  }

  .gamer-id,
  .genre,
  .multi-tag {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }

  .pro-part {
    height: auto;
    padding-bottom: 30px;
    margin: 0 15px;
  }

  .part-pro {
    flex-direction: column;
    padding: 20px;
  }

  .book,
  .book2 {
    margin-left: 0;
  }

  .action-part {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px 20px;
    gap: 15px;
  }

  .ac {
    padding: 0 20px;
    text-align: center;
  }

  .action-rg {
    font-size: 26px;
  }

  .act-cards {
    flex-direction: column;
    gap: 30px;
  }

  .prod-card {
    width: 220px;
    height: auto;
    padding-bottom: 20px;
  }

  .prod-img {
    width: 100%;
  }
}
@media (max-width: 1024px) {

  .product-cards {
    gap: 40px;
  }

  .pr-mainimg {
    margin-left: 0;
    max-width: 380px;
    height: auto;
  }

  .pr-sec {
    margin-left: 20px;
  }

  .pro-part {
    height: auto;
    padding-bottom: 40px;
  }

  .action-part {
    margin: 10px 40px;
  }

  .act-cards {
    flex-wrap: wrap;
    gap: 30px;
  }
}
