.Category{
    margin-top: 120px;    
}
.Category-part{
    text-align: center;
}
.cg{
    color: #ee626b;
    text-transform: uppercase;
    font-weight: 800;
    font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
    font-size: 13px;
    letter-spacing: 1;
}
.tg{
    color: black;
    font-size: 40px;
    font-weight: 800;
}

.category-bundles{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    
}
.category-bundle{
    background-color: #0071f8;
    width: 210px;
    height: 200px;
    border-radius: 25px;
    text-align: center;
    position: absolute;
}
.action{
    color: white;
    font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
    font-size: 17px;
    position: relative;
    top: 20px;
}
.braw{
    width: 210px;
    border-radius: 25px;
    position: relative;
    bottom: -45px;
}
.Category-cards{
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.Category-card{
    border-radius: 25px;
    text-align: center;
    background-color: #0071f8;
    width: 190px;
    height: 250px;
}
.title-cat{
    font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
    color: white;
    margin: 22px 0px;
    font-size: 18px;
}
.cat-img{
    width: 190px;
    border-radius: 25px;
}
.botoom-part{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 120px;
    margin-left: 200px;
    /* margin-left: 200px; */
    /* align-items: center; */
}
.BGMI_img{
    position: absolute;
    width: 550px;
    height: 580px;
    border-radius: 50px;
    /* position: absolute; */
}
.pre-order{
    position: relative;
    top: 50px;
    right: 280px;
    padding: 90px 70px;
    max-width: 420px;
    height: 620px;
    background-color:#f7f7f7;
    border-radius: 35px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
}
.op {
    font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
  color: #ff6f6f;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 40px;
}
.go {
    font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
  display: block;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.5;
  color: #222;
  margin-bottom: 20px;
}

.go span,
.go strong {
  color: #007bff; /* For “Prices” word */
}
.lorem {
    font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
  color: #666;
  font-size: 17px;
  line-height: 1.6;
  font-weight: 600;
  margin-bottom: 30px;
}
.btm-btn {
    margin-top: 30px;
    margin-right: 20px;
  background-color: #ff6f6f;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 12px 28px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}
.get-up{
    background-color: #f7f7f7;
    position: relative;
    top: 170px;
    /* right: -200px; */
    border-radius: 40px;
    max-width: 420px;
    height: 500px;
    padding: 70px 30px;
    text-align: left;
}
.ns{
    font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
    color: #ff6f6f;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 30px;
}
.up{
    margin-bottom: 50px;
    font-size: 35px;
}
.email{
    font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
    max-width: 250px;
  width: 100%;
  height: 50px;
  outline: none;
  border-radius: 25px;
  background-color: #fff;
  border: none;
  padding: 0px 25px;
  font-size: 14px;
  color: #7a7a7a;
  position: absolute;
}
.sb{
    font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
     position: relative;
  left: 200px;
  /* width: 30%; */
  height: 50px;
  outline: none;
  border-radius: 25px;
  background-color: #ee626b;
  border: none;
  padding: 0px 10px;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
}