* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.maincontainer {
  /* height: 100px; */
  /* background-color: rgb(100, 77, 250); */
  background-image: url(../images/banner-bg.jpg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 120px;
  background-size: cover;
  background-position:center;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
  margin: 10px 0px;
  /* padding: 15px 0px; */
  & li {
    list-style: none;
    /* text-decoration: none; */
  }
  .abc {
    text-decoration: none;
    color: white;
    font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
  }
}
.nav:hover {
  background-color: #007bff;
  padding: 8px 12px;
  border-radius: 15px;
}
.sign {
  background-color: #ee626b;
  border-radius: 18px;
  text-transform: uppercase;
  padding: 5px 18px;
  /* color: white; */
}