.section {
  margin-top: 120px;
}
.section h3 {
  font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
  padding: 80px 120px;
  color: #ec3838;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  /* margin: 120px 0px; */
}
.part {
  display: flex;
  justify-content: space-between;
  margin-top: -70px;
  padding: 12px 120px;
}
.n1 {
  color: black;
  font-size: 40px;
}
.btn1 {
  font-size: 14px;
  font-weight: 600;
  height: 50px;
  line-height: 50px;
  padding: 0px 30px;
  border-radius: 25px;
  background-color: #ee626b;
  text-transform: uppercase;
  color: white;
  border: none;
}
.btn1:hover {
  background-color: blue;
  /* margin: 0px 30px; */
}
.main_cards:hover {
  & .name_games h5 {
    color: #007bff;
  }

  .bag {
    background-color: #007bff;
  }
}
.tr_cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 15px 30px;
  padding: 0px 40px;
}
.main_cards {
  background-color: #eeeeee;
  border-radius: 25px;
  position: relative;
  height: 270px;
  /* padding: 0px 20px; */
  /* width: 100%; */
}
.img_card img {
  width: 250px;
  height: 190px;
  border-radius: 25px;
}
.price {
  position: absolute;
  top: 10px;
  right: 17px;
  background-color: #008af8;
  color: white;
  border-radius: 12px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
  /* font-weight: 900; */
}
.real {
  color: white;
  font-weight: 700;
  font-size: 18px;
  font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
  /* align-items: center; */
  /* justify-content: center; */
}
.fake {
  font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
  color: white;
  font-weight: 700;
  font-size: 18px;
  text-decoration: line-through;
  /* align-items: center; */
  /* justify-content: center; */
}
.left_side {
  display: flex;
  justify-content: space-between;
  margin: 0px 20px;
}
.name_games h6 {
  color: black;
  font-size: 15px;
  font-weight: 700;
  margin: 10px 0px;
  font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
}
.name_games h5 {
  font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
  color: black;
  font-size: 18px;
  font-weight: 700;
}
.bag {
  background-color: #ee626b;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 25px 0px;
}
.bags {
  color: white;
  font-size: 20px;
}
/* ========== Responsive Section + Cards ========== */

@media (max-width: 992px) {
  .section h3 {
    padding: 50px 30px;
    text-align: center;
  }

  .part {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: -30px;
    padding: 0 30px;
    text-align: center;
  }

  .tr_cards {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 0 20px;
  }

  .main_cards {
    width: 45%;
    height: auto;
  }

  .img_card img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 576px) {
  .section {
    margin-top: 60px;
  }

  .n1 {
    font-size: 28px;
    text-align: center;
  }

  .btn1 {
    width: 100%;
    text-align: center;
  }

  .main_cards {
    width: 100%;
    max-width: 320px;
  }

  .left_side {
    flex-direction: column;
    align-items: flex-start;
  }

  .bag {
    align-self: flex-end;
    margin-top: 10px;
  }
}
